@import url("x.css");

/**
 * Multi-line comment
 */

html {
  --brand-red: rgb(128 128 128);
}

.test-recbecca {
  color: rgb(100 100 100);
}

.something::before {
  content: attr(aria-label);
}

.test {
  z-index: -1;
  padding-top: env(safe-area-inset-top);
  border: none;
  border-bottom-width: 0;
  border-radius: 0;
  border-bottom-right-radius: 0;
  line-height: 1.2;
}

.test:nth-child(2n) {
  display: block;
}

.selector-1,
.selector-2,
.selector-3[type="text"] {
  display: block;
  box-sizing: border-box;
  background: linear-gradient(rgb(255 255 255), rgb(0 0 0 / 80%));
  color: var(--brand-red);
}

.selector-a,
.selector-b:not(:first-child) {
  top: calc(100% - 2rem);
  padding: 10px;
}

.selector-x {
  width: 10%;
}

.selector-y {
  width: 20%;
}

.selector-z {
  width: 30%;
  font-family: Helvetica, "Arial Black", sans-serif;
}

/* Single-line comment */

@media (width >= 60em) {
  .selector {
    /* Flush to parent comment */
    transform: translate(1px, 1px) scale(3);
  }
}

@media (orientation: portrait), screen and (color) {
  .selector-i + .selector-ii {
    background: rgb(128 128 128);
    font-family: Helvetica, Arial, sans-serif;
  }
}

/* Flush single line comment */
@media screen and (resolution >= 192dpi), screen and (resolution >= 2dppx) {
  .selector {
    height: 10rem;
    margin: 10px;
    margin-bottom: 5px;
    background-image: repeating-linear-gradient(-45deg, transparent, rgb(255 255 255) 25px, rgb(255 255 255 / 100%) 50px);
    box-shadow:
      0 1px 1px rgb(0 0 0),
      0 1px 0 rgb(255 255 255),
      2px 2px 1px 1px rgb(204 204 204) inset;
    animation: 300ms none fade-in;
  }

  /* Flush nested single line comment */
  .selector::after {
    content: "";
    background-image: url("x.svg");
  }
}

@keyframes fade-in {
  from {
    opacity: 0%;
  }

  to {
    opacity: 1%;
  }
}
